<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!(clickedAdd || clickedEdit)" [fullscreen]="true">
  <!-- LIST for Categories!-->
  <ion-list>
    <!-- lieber cards in gridform nehmen?-->
    <ion-item-sliding *ngFor="let cat of categories; let i = index">
      <ion-item >
        <ion-label class="ion-text-wrap" (click)="showInputEdit(cat, i)" slot="start">{{cat.title}}</ion-label>
        <ion-label slot="end">{{cat.done}}/{{cat.todos}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!-- should be a bit bigger-->
        <ion-item-option (click)="delete(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<!-- quasi ngElse-->
<ion-content *ngIf="clickedAdd || clickedEdit" [fullscreen]="true"  (click)="hideInput()">
  <!-- LIST for Categories!-->
  <ion-list>
    <!-- lieber cards in gridform nehmen?-->
    <ion-item-sliding *ngFor="let cat of categories; let i = index">
      <ion-item >
        <ion-label slot="start">{{cat.title}}</ion-label>
        <ion-label slot="end">{{cat.done}}/{{cat.todos}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>


<!-- schwebender ADD button-->
<ion-fab *ngIf="!(clickedAdd || clickedEdit)" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showInputAdd()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<!-- Textfeld zum hinzufügen/edtieren von Categories-->
<ion-footer *ngIf="clickedAdd || clickedEdit">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="10">
        <!--Input Text statt textarea!!?-->
        <ion-textarea maxlength="50" autosize placeholder= "new category..." [(ngModel)]="inputText" ></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button *ngIf="clickedAdd" [disabled]="inputText===''" expand="block" (click)="add()">
          <ion-label >OK</ion-label>
        </ion-button>
        <ion-button *ngIf="clickedEdit" [disabled]="inputText===''" expand="block" (click)="edit()">
          <ion-label >OK</ion-label>
        </ion-button>
        <!-- hier wäre es cool wenn die farben sich horizontal ausfahren würden...-->
        <ion-button *ngIf="clickedAdd || clickedEdit" expand="block" >
          <ion-label >C</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>